# Python Intro class

- Python is Developd on C# and C++.
- Python is Developd by Van Rossum a Dutch Programmer.
- Python was developed in 1991 and first introduced in Banking Systems in 1994.

In [5]:
265987265982659842659865983265982659826543659826598265987265984265987246584265872465 * 84376984984265984659846598465

22443203547824852080957239178739558812146340592421858754041338657198480666299875886550327893080756495215754766225

In [11]:
726532 * 825

599388900

In [12]:
22 + 3

25

In [13]:
28 - 3

25

In [14]:
30 - 5

25

In [15]:
27 - 2

25

# VARIABLES in PYTHON

- Variables are Storage Spaces in Python in which we can store data.
- Variable cannot be a number.
- It cannot start with a number.
- It doesn't allow space.

In [16]:
a = 25

In [17]:
a

25

In [18]:
b = 20

In [19]:
b

20

In [20]:
a + b

45

In [21]:
# Variable cannot be a Number   --- >>> COMMENT

123 = 40

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (518141014.py, line 3)

In [22]:
# Variable name cannot start with a number

123a = 40

SyntaxError: invalid decimal literal (3482294284.py, line 3)

In [23]:
a123 = 40

In [24]:
a123

40

In [25]:
# Variable doesn't contain space

my age = 40

SyntaxError: invalid syntax (3974976666.py, line 3)

In [26]:
my_age = 40

In [27]:
my_age

40

In [28]:
akash = 25
sandeep = 24
harsh = 18
kusum = 22

In [32]:
(akash + sandeep + harsh + kusum) / 4

22.25

In [33]:
# Different ways to declare a Variable.....

a = 10
b = 20
c = 30

In [37]:
# Python onky takes recent run...

a
b
c

30

In [41]:
a,b,c

(10, 20, 30)

In [42]:
x,y,z = 100,200,300

In [43]:
x

100

In [44]:
y

200

In [45]:
z

300